
         <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Filter</h6>
            </div>
            <div class="card-body">
              <form [formGroup]="searchCarsForm" (submit)="searchCars()" class="user">
                  <div class="form-group row mb-0">
                      <div class="col-sm-12 mb-3 mb-sm-0">
                          <label for=""> Where to pick</label>
                            <select class="browser-default custom-select" 
                            [ngClass]="{'is-invalid':searchCarsForm.get('pickUpLocationId').errors && searchCarsForm.get('pickUpLocationId').touched}" 
                            formControlName="pickUpLocationId">
                                <option value="" selected>-- Please Select --</option>
                                <option *ngFor="let item of locations" value={{item.id}}>{{item.streetAddress}}, {{item.zipCode}}, {{item.city}}, {{item.country}}</option>
                              </select>
                              <div class="invalid-feedback">Pickup location is required</div>
                              <div class="form-group mt-3">
                                <div class="custom-control custom-checkbox small">
                                  <input type="checkbox" class="custom-control-input" id="customCheck" (change)="showReturnLocation($event)" [checked]="isCheckedField">
                                  <label class="custom-control-label" for="customCheck"> Return Car To Another Location?</label>
                                </div>
                              </div>
                        
                        </div>
          
                        <div class="form-group">
                            <div class="col-sm-12 mb-3 mb-sm-0" *ngIf="showReturnLocationField">
                              <label for=""> Where to return</label>
                                <select class="browser-default custom-select" 
                                [ngClass]="{'is-invalid':searchCarsForm.get('returnLocationId').errors && searchCarsForm.get('returnLocationId').touched}" 
                                formControlName="returnLocationId">
                                    <option value="" selected>-- Please Select --</option>
                                    <option *ngFor="let item of locations" value={{item.id}}>{{item.streetAddress}}, {{item.zipCode}}, {{item.city}}, {{item.country}}</option>
                                  </select>
                                  <div class="invalid-feedback">Return location is required</div>
                  
                            </div>
                            
                          </div>
                    
                      <div class="col-sm-12 mb-3 mb-sm-0">

                      <label for=""> Pickup Date</label>

                      <div class="mb-4">
                        <angular2-date-picker 
                        
                        formControlName="pickUpDate" [settings]="settings"></angular2-date-picker>
                        <!-- <input class="form-control" placeholder="yyyy-mm-dd"
                               ngbDatepicker #d="ngbDatepicker"
                               [ngClass]="{'is-invalid':searchCarsForm.get('pickUpDate').errors && searchCarsForm.get('pickUpDate').touched}" 
                               formControlName="pickUpDate">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                        </div> -->
                      </div>
                    <div class="invalid-feedback">PickUp Date is required</div>

                
                      
                    </div>
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <div class="form-group mt-4">
                            <div class="custom-control custom-checkbox small">
                              <input type="checkbox" class="custom-control-input" id="ageCheck" (change)="showInputOfAge($event)" [checked]="isDriverAgeZero">
                              <label class="custom-control-label" for="ageCheck"> Drivers Age At Rental Start: 25-65</label>
      
                    
                            </div>
                            <div class="form-group mt-4" *ngIf="showInputOfAgeField">
                                <label for="">Driver Age</label>
                                <input class="form-control" type="number"
                                [ngClass]="{'is-invalid':searchCarsForm.get('driverAge').errors && searchCarsForm.get('driverAge').touched}" 
                                formControlName="driverAge">
                            </div>
                    </div>
</div>

                  
                      <div class="col-sm-12 mb-3 mb-sm-0">

                      <label for=""> Return Date</label>
                      <div class="">
             
                        <angular2-date-picker                  
                        formControlName="returnDate" [settings]="settings"></angular2-date-picker>

                        <!-- <input class="form-control" placeholder="yyyy-mm-dd"
                               ngbDatepicker #r="ngbDatepicker" 
                               [ngClass]="{'is-invalid':searchCarsForm.get('returnDate').errors && searchCarsForm.get('returnDate').touched}" 
                               formControlName="returnDate">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="r.toggle()" type="button"><i class="fa fa-calendar"></i> </button>
                        </div> -->
                      </div>

                       
                      
                  </div>
                  
                  <div class="col-sm-12 mb-3 mb-sm-0">
                      <label for=""></label>

                  <button [disabled]="!searchCarsForm.valid" class="btn btn-primary btn-user btn-block" type="button" (click)="searchCars()">Search</button>
                  </div>

                </div>
       
              </form>

    </div>
    </div>
