
<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800 mt-4">Brands List</h1>
      <p class="mb-4">This is list of brands in database that Admin can manage(add new, edit, delete) them.</p>

      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Brands</h6>
            <a class="btn btn-primary btn-icon-split" [routerLink]="['/admin/brands/add']" routerLinkActive="router-link-active" >
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Add Brand</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Id</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 265px;">Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 419px;">Actions</th>
                                        </tr>
                                        </thead>

                                <tbody>

                                  
                                        <tr role="row" class="odd" *ngFor="let brand of brands">
                                           
                                            <td>{{brand.id}}</td>
                                            <td>{{brand.name}}</td>

                                            <td>

                                                <a class="btn btn-info btn-icon-split" title="Models List" [routerLink]="['/admin/models/']" [queryParams]="{ brandId: brand.id }" routerLinkActive="router-link-active">
                                                  <span class="icon">
                                                      <i class="fas fa-list"></i> 
                                                  </span>
</a>
                                                
                                                        <a class="btn btn-warning btn-icon-split ml-2" title="Edit Brand" [routerLink]="['/admin/brands/add/', brand.id]" routerLinkActive="router-link-active">
                                                            <span class="icon">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </span>
    </a>

                                                            <button type="button" class="btn btn-danger btn-icon-split ml-2" (click)="openModal(template)">  <span class="icon">
                                                                <i class="fas fa-trash" style="color:#ffffff"></i>
                                                            </span></button>
                                                            <ng-template #template>
                                                                <div class="modal-body text-center">
                                                                  <p>Are you sure to delete this booking?</p>
                                                                  <button type="button" class="btn btn-success" (click)="confirm(brand.id)" >Yes</button>
                                                                  <button type="button" class="btn btn-primary ml-2" (click)="decline()" >No</button>
                                                                </div>
                                                              </ng-template>
                                            </td>

                                        </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright © Your Website 2019</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

</div>
