


<div id="wrapper">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/']">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fa fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Car Rental</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/admin/cars']">
        <i class="fas fa-fw fa-car"></i>
        <span>Cars</span>
      </a>
      
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/admin/users']" routerLinkActive="router-link-active">
        <i class="fas fa-fw fa-user"></i>
        <span>Users</span>
      </a>
    
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed"  [routerLink]="['/admin/bookings']" routerLinkActive="router-link-active">
        <i class="fas fa-fw fa-folder"></i>
        <span>Bookings</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/locations']" routerLinkActive="router-link-active">
        <i class="fas fa-fw fa-location-arrow"></i>
        <span>Locations</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/admin/brands']" routerLinkActive="router-link-active">
        <i class="fas fa-fw fa-table"></i>
        <span>Brands and Models</span></a>
    </li>

    
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/admin/fuel']" routerLinkActive="router-link-active">
        <i class="fas fa-fw fa-oil-can"></i>
        <span>Fuel Types</span></a>
    </li>

    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <router-outlet></router-outlet>
</div>




<script src="../node_modules/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
<script src="../node_modules/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../node_modules/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../node_modules/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>
<script src="../node_modules/startbootstrap-sb-admin-2/vendor/chart.js/Chart.min.js"></script>
<script src="../node_modules/startbootstrap-sb-admin-2/js/demo/chart-area-demo.js"></script>
<script src="../node_modules/startbootstrap-sb-admin-2/js/demo/chart-pie-demo.js"></script> 