<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-nav></app-nav>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
         <h1 class="h3 text-gray-800 mt-4 mb-4">Our Car Fleet</h1>

          </div>
          <div class="col-lg-3">
              <a [routerLink]="['/']" class="d-none d-sm-inline-block btn btn-info shadow-sm mb-4 mt-4">Rent Now</a>
          </div>
        </div>
      
       
        <div class="row">
          
          <div class="col-lg-4 mb-4" *ngFor="let car of cars">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Licence Plate: {{car.carNumber}}</h6>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 20rem;" src="assets{{car.path}}" alt="">
                </div>
                <p>Brand: {{car.brandName}}</p>
                <p>Model: {{car.modelName}}</p>
                <p>Year: {{car.modelYear}}</p>
                <p>Fuel type: {{car.fuelType}}</p>
                <p>Transmission Type: {{car.transmisionType}}</p>
               
              </div>
            </div>

          </div>
      
      
        </div>

      

      </div>
  <app-footer></app-footer>
    <!-- End of Footer -->

  </div>
 </div>


<script src="../node_modules/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
<script src="../node_modules/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../node_modules/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../node_modules/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>

  <script src="../node_modules/startbootstrap-sb-admin-2/vendor/chart.js/Chart.min.js"></script>

  
  <script src="../node_modules/startbootstrap-sb-admin-2/js/demo/chart-area-demo.js"></script>
  <script src="../node_modules/startbootstrap-sb-admin-2/js/demo/chart-pie-demo.js"></script> 