<div id="wrapper">
<app-admin-nav></app-admin-nav>
<div id="content-wrapper" class="d-flex flex-column">

  <div id="content">
<br>
    <div class="container-fluid">
      
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Add Location</h6>
            </div>
            <div class="card-body">
                <div class="col-lg-12">
                    <div class="p-5">
                        <form [formGroup]="addLocationForm" (submit)="addLocation()">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="col-sm-12 label-nopadding">Street Address</label>
                                    <input type="text" 
                                    [ngClass]="{'is-invalid':addLocationForm.get('streetAddress').errors && addLocationForm.get('streetAddress').touched}"
                                    class="form-control form-control-user input-width" 
                                    formControlName="streetAddress">
                                    <div class="invalid-feedback">Street Address is required</div>
                                </div>

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                  <label class="col-sm-12 label-nopadding">Zip Code</label>
                                  <input type="text" 
                                  [ngClass]="{'is-invalid':addLocationForm.get('zipCode').errors && addLocationForm.get('zipCode').touched}"
                                  class="form-control form-control-user input-width" 
                                  formControlName="zipCode">
                                  <div class="invalid-feedback">Zip Code is required</div>
                              </div>
                           
                            </div>

                            <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                  <label class="col-sm-12 label-nopadding">City</label>
                                  <input type="text" 
                                  [ngClass]="{'is-invalid':addLocationForm.get('city').errors && addLocationForm.get('city').touched}"
                                  class="form-control form-control-user input-width" 
                                  formControlName="city">
                                  <div class="invalid-feedback">City is required</div>
                              </div>

                              <div class="col-sm-6 mb-3 mb-sm-0">
                                <label class="col-sm-12 label-nopadding">Country</label>
                                <input type="text" 
                                [ngClass]="{'is-invalid':addLocationForm.get('country').errors && addLocationForm.get('country').touched}"
                                class="form-control form-control-user input-width" 
                                formControlName="country">
                                <div class="invalid-feedback">Country is required</div>
                            </div>
                         
                          </div>
                      

                            <div class="form-group row">
                                <button type="button" class="btn btn-secondary btn-icon-split" (click)="cancel()" style="margin-left:40px; margin-right:20px;">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-arrow-left"></i>
                                    </span>
                                    <span class="text ext-white-50">Cancel</span>
                                </button>
                                <button type="submit" [disabled]="!addLocationForm.valid" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright © Your Website 2019</span>
      </div>
    </div>
  </footer>
</div>
</div>