<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">
<br>
    <!-- Begin Page Content -->
    <div class="container-fluid">
      
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Add Car</h6>
            </div>
            <div class="card-body">
                <div class="col-lg-12">
                    <div class="p-5">
                        <form [formGroup]="addCarForm" (submit)="addCar()">
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="col-sm-12 label-nopadding">Car Number</label>
                                    <input type="text"
                                    [value]="carNumber" 
                                    [ngClass]="{'is-invalid':addCarForm.get('carNumber').errors && addCarForm.get('carNumber').touched}"
                                    class="form-control form-control-user input-width" 
                                    formControlName="carNumber">
                                    <div class="invalid-feedback">Car Number is required</div>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="col-sm-12" style="padding-left:0px;padding-right:0px;">Car Brand</label>

                                    <select formControlName="brandId" class="browser-default custom-select" 
                                    [value]="brandId"
                                    [ngClass]="{'is-invalid':addCarForm.get('brandId').errors && addCarForm.get('brandId').touched}" (change)="getModelsByBrandId($event.target.value)">
                                        <option>-- Please Select --</option>
                                        <option *ngFor="let item of brands" value="{{item.id}}">{{item.name}}</option>
                                      </select>
                                      <div class="invalid-feedback">Brand is required</div>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="col-sm-12 label-nopadding">Car Model</label>
                                    <select formControlName="modelId" class="browser-default custom-select"
                                    [value]="modelId" 
                                    [ngClass]="{'is-invalid':addCarForm.get('modelId').errors && addCarForm.get('modelId').touched}">
                                        <option selected>-- Please Select --</option>
                                        <option *ngFor="let item of models" value="{{item.id}}">{{item.name}}</option>
                                      </select>
                                      <div class="invalid-feedback">Model is required</div>
                                        
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="col-sm-12 label-nopadding">Fuel Type</label>
                                    <select formControlName="fuelTypeId" class="browser-default custom-select" 
                                    [value]="fuelTypeId"
                                    [ngClass]="{'is-invalid':addCarForm.get('fuelTypeId').errors && addCarForm.get('fuelTypeId').touched}">
                                        <option selected>-- Please Select --</option>
                                        <option *ngFor="let item of fuelTypes" value="{{item.id}}">{{item.name}}</option>
                                      </select>
                                      <div class="invalid-feedback">Fuel Type is required</div>

                                </div>

                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="col-sm-12 label-nopadding">Transmision Type</label>

                                    <select formControlName="transmisionTypeId" class="browser-default custom-select"
                                    [value]="transmisionTypeId"
                                     [ngClass]="{'is-invalid':addCarForm.get('transmisionTypeId').errors && addCarForm.get('transmisionTypeId').touched}">
                                        <option selected>-- Please Select --</option>
                                        <option *ngFor="let item of transmisionTypes" value="{{item.id}}">{{item.name}}</option>
                                      </select>
                                      <div class="invalid-feedback">Transmision Type is required</div>

                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="col-sm-12 label-nopadding">Car Location</label>

                                    <select formControlName="carLocationId" class="browser-default custom-select"
                                    [value]="carLocationId" 
                                    [ngClass]="{'is-invalid':addCarForm.get('carLocationId').errors && addCarForm.get('carLocationId').touched}">
                                        <option selected>-- Please Select --</option>
                                        <option *ngFor="let item of locations" value="{{item.id}}">{{item.streetAddress}}, {{item.zipCode}}, {{item.city}}, {{item.country}}</option>
                                      </select>
                                      <div class="invalid-feedback">Car Location is required</div>

                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="col-sm-12 label-nopadding">Model Year</label>
                                    <input formControlName="modelYear" type="text" class="form-control form-control-user input-width"
                                    [value]="modelYear" [ngClass]="{'is-invalid':addCarForm.get('modelYear').errors && addCarForm.get('modelYear').touched}">
                                    <div class="invalid-feedback">Model Year is required</div>

                                </div>

                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="col-md-12 label-nopadding">Number Of Doors</label>

                                    <input formControlName="numberOfDoors" type="text" class="form-control form-control-user input-width" 
                                    [value]="numberOfDoors" [ngClass]="{'is-invalid':addCarForm.get('numberOfDoors').errors && addCarForm.get('numberOfDoors').touched}">
                                    <div class="invalid-feedback">Number O fDoors is required</div>

                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="col-md-12 label-nopadding">Car Capacity</label>

                                    <input formControlName="carCapacity" type="text" class="form-control form-control-user input-width"
                                    [value]="carCapacity" [ngClass]="{'is-invalid':addCarForm.get('carCapacity').errors && addCarForm.get('carCapacity').touched}">
                                    <div class="invalid-feedback">Car Capacity is required</div>

                                </div>

                            </div>
                            <div class="form-group row">

                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="col-md-12 label-nopadding">Car Color</label>
                                    <input formControlName="carColor" type="text" class="form-control form-control-user input-width" 
                                    [value]="carColor" [ngClass]="{'is-invalid':addCarForm.get('carColor').errors && addCarForm.get('carColor').touched}">
                                    <div class="invalid-feedback">Car Color is required</div>

                                </div>

                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="col-md-12 label-nopadding">Price For Day</label>

                                    <input formControlName="priceForDay" type="text" class="form-control form-control-user input-width" data-val="true" data-val-number="The field PriceForDay must be a number." 
                                    [value]="priceForDay" [ngClass]="{'is-invalid':addCarForm.get('priceForDay').errors && addCarForm.get('priceForDay').touched}">
                                    <div class="invalid-feedback">Price ForDay is required</div>

                                </div>

                            </div>


                            <div class="form-group row">
                                <div class="col-sm-12 mb-12 mb-sm-0">
                                    <label class="col-md-12 label-nopadding">Description</label>

                                    <textarea formControlName="description" type="text" class="form-control form-control-user" [value]="description"></textarea>
                                </div>
                            </div>


                            <div class="form-group row">
                                <button type="button" class="btn btn-secondary btn-icon-split" (click)="cancel()" style="margin-left:40px; margin-right:20px;">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-arrow-left"></i>
                                    </span>
                                    <span class="text ext-white-50">Cancel</span>
                                </button>
                                <button type="submit" [disabled]="!addCarForm.valid" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright © Your Website 2019</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

</div>
