<div id="wrapper" class="mb-4">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-nav></app-nav>
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <img src="/assets/images/res_car.png" alt="" class="img-responsive">
        </div>
        <div class="row mb-4">
       
         
         
          <div class="col-xl-12 col-md-12 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-lg-12">
                        <div class="p-5">
                          <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Search for a Car</h1>
                          </div>

                          <form [formGroup]="searchCarsForm" (submit)="searchCars()" class="user">
                            <div class="form-group row mb-0">
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    <label for=""> Where to pick</label>
                                      <select class="browser-default custom-select" 
                                      [ngClass]="{'is-invalid':searchCarsForm.get('pickUpLocationId').errors && searchCarsForm.get('pickUpLocationId').touched}" 
                                      formControlName="pickUpLocationId">
                                          <option value="" selected>-- Please Select --</option>
                                          <option *ngFor="let item of locations" value={{item.id}}>{{item.streetAddress}}, {{item.zipCode}}, {{item.city}}, {{item.country}}</option>
                                        </select>
                                        <div class="invalid-feedback">Pickup location is required</div>
                                        <div class="form-group mt-3">
                                          <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck" (change)="showReturnLocation($event)">
                                            <label class="custom-control-label" for="customCheck"> Return Car To Another Location?</label>
                                          </div>
                                        </div>
                                  
                                  </div>
                    

                              
                                <div class="col-sm-3 mb-3 mb-sm-0">

                                <label for=""> Pickup Date</label>

                                <div class="mb-4">
                                  <angular2-date-picker 
                                  
                                  formControlName="pickUpDate" [settings]="settings"></angular2-date-picker>
                                  <!-- <input class="form-control" placeholder="yyyy-mm-dd"
                                         ngbDatepicker #d="ngbDatepicker"
                                         [ngClass]="{'is-invalid':searchCarsForm.get('pickUpDate').errors && searchCarsForm.get('pickUpDate').touched}" 
                                         formControlName="pickUpDate">
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                  </div> -->
                                </div>
                              <div class="invalid-feedback">PickUp Date is required</div>

                              <div class="form-group">
                                <div class="custom-control custom-checkbox small" style="margin-top:54px;">
                                  <input type="checkbox" class="custom-control-input" id="ageCheck" (change)="showInputOfAge($event)" checked="checked">
                                  <label class="custom-control-label" for="ageCheck"> Drivers Age At Rental Start: 25-65</label>

                                  
                                </div>
                                
                              </div>
    </div>

                            
                                <div class="col-sm-3 mb-3 mb-sm-0">

                                <label for=""> Return Date</label>
                                <div class="">
                       
                                  <angular2-date-picker                  
                                  formControlName="returnDate" [settings]="settings"></angular2-date-picker>

                                  <!-- <input class="form-control" placeholder="yyyy-mm-dd"
                                         ngbDatepicker #r="ngbDatepicker" 
                                         [ngClass]="{'is-invalid':searchCarsForm.get('returnDate').errors && searchCarsForm.get('returnDate').touched}" 
                                         formControlName="returnDate">
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="r.toggle()" type="button"><i class="fa fa-calendar"></i> </button>
                                  </div> -->
                                </div>

                                  <input class="form-control" style="margin-top:48px;" type="number" *ngIf="showInputOfAgeField"
                                    [ngClass]="{'is-invalid':searchCarsForm.get('driverAge').errors && searchCarsForm.get('driverAge').touched}" 
                                    formControlName="driverAge" [value]="0">
                                
                            </div>
                            
                            <div class="col-sm-3 mb-3 mb-sm-0">
                                <label for=""></label>

                            <button [disabled]="!searchCarsForm.valid" class="btn btn-primary btn-user btn-block" type="button" (click)="searchCars()">Search</button>
                            </div>

                          </div>
                          <div class="form-group row">
                            <div class="col-sm-3 mb-3 mb-sm-0" *ngIf="showReturnLocationField">
                              <label for=""> Where to return</label>
                                <select class="browser-default custom-select" 
                                [ngClass]="{'is-invalid':searchCarsForm.get('returnLocationId').errors && searchCarsForm.get('returnLocationId').touched}" 
                                formControlName="returnLocationId">
                                    <option value="" selected>-- Please Select --</option>
                                    <option *ngFor="let item of locations" value={{item.id}}>{{item.streetAddress}}, {{item.zipCode}}, {{item.city}}, {{item.country}}</option>
                                  </select>
                                  <div class="invalid-feedback">Return location is required</div>
                  
                            </div>
                            
                          </div>
                        </form>
      
                      
                      
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row brands mt-4 mb-4">
            <div class="col-md-12">
                <h1 class="h1-header">Best Brands At Lowest Prices!</h1>
                <p class="paragraph-n">CarRental offers you the best possible rates from top international and major local car rental companies across 45,000 rental stations!</p>
                <p class="paragraph-n">We at CarRental.com go the extra mile to give you the best, carefree car rental experience!</p>
    
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><img class="list-brands-img" title="Alamo" alt="Alamo" src="https://www.carflexi.com/content/img/shared/brands/logo-alamo.png"></li>
                    <li class="list-group-item"><img class="list-brands-img" title="Avis" alt="Avis" src="https://www.carflexi.com/content/img/shared/brands/logo-avis.png"></li>
                    <li class="list-group-item"><img class="list-brands-img" title="Budget" alt="Budget" src="https://www.carflexi.com/content/img/shared/brands/logo-budget.png"></li>
                    <li class="list-group-item"><img class="list-brands-img" title="Dollar" alt="Dollar" src="https://www.carflexi.com/content/img/shared/brands/logo-dollar.png"></li>
                    <li class="list-group-item"><img class="list-brands-img" title="Enterprise" alt="Enterprise" src="https://www.carflexi.com/content/img/shared/brands/logo-enterprise.png"></li>
                    <li class="list-group-item"><img class="list-brands-img" title="Europcar" alt="Europcar" src="https://www.carflexi.com/content/img/shared/brands/logo-europcar.png"></li>
                    <li class="list-group-item"><img class="list-brands-img" title="Hertz" alt="Hertz" src="https://www.carflexi.com/content/img/shared/brands/logo-hertz.png"></li>
                    <li class="list-group-item"><img class="list-brands-img" title="National" alt="National" src="https://www.carflexi.com/content/img/shared/brands/logo-national.png"></li>
                    <li class="list-group-item"><img class="list-brands-img" title="Sixt" alt="Sixt" src="https://www.carflexi.com/content/img/shared/brands/logo-sixt.png"></li>
                    <li class="list-group-item"><img class="list-brands-img" title="Thrifty" alt="Thrifty" src="https://www.carflexi.com/content/img/shared/brands/logo-thrifty.png"></li>
                </ul>
            </div>
        </div>
    
        <div class="row more-info mt-4">
            <div class="col-md-4">
                <h1 class="h1-header">Save Even More</h1>
                <p class="paragraph-n">51% Of Our Customers have saved more than 53% on their recent car rental with us. #1 Online Car Rental Booking Site. Our market experience guarantees value for money deals.</p>
            </div>
            <div class="col-md-4">
                <h1 class="h1-header">Price Promise</h1>
                <p class="paragraph-n">We are committed every day in finding the best possible deal for your car rental. No Hidden Charges. Rates as low as possible. We offer you average saving per booking of 35%!</p>
            </div>
            <div class="col-md-4">
                <h1 class="h1-header">Quality & Expertise</h1>
                <p class="paragraph-n">Top Cars - Top Brands - Top Service. We work with top-rated international and leading local car rental companies in 45,000 rental stations. We constantly assess our suppliers based on users' scores.</p>
            </div>
        </div>


      </div>

  <app-footer></app-footer>
    <!-- End of Footer -->

  </div>
 </div>