<div id="wrapper" class="mb-4">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <app-nav></app-nav>
        <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between mb-4 text-center">
            <h1 class="h3 mb-0 text-gray-800 text-center">Booking Summary</h1>
          </div>
      
          <div class="row">
           <div class="col-lg-4 mb-4" *ngIf="changeFilterField">
              <app-change-search></app-change-search>
           </div>
           
              <div class="col-lg-4 mb-4" *ngIf="!changeFilterField">
  
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Filter</h6>
                  </div>
                  <div class="card-body">
                    <h4 class="small font-weight-bold">Pickup Location</h4>
                    <div class="progress mb-4">
                      <!-- <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div> -->
                      <p>{{pickUpLocation}}</p>
                    </div>
                    <h4 class="small font-weight-bold">Pickup Date</h4>
                    <div class="progress mb-4">
                      <!-- <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div> -->
                      <p>{{datePickUp}}</p>
                    </div>
                    <h4 class="small font-weight-bold">Return Location</h4>
                    <div class="progress mb-4">
                      <!-- <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div> -->
                      <p>{{returnLocation}}</p>
                    </div>
                    <h4 class="small font-weight-bold">Return Date</h4>
                    <div class="progress mb-4">
                      <!-- <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div> -->
                      {{dateReturn}}
                    </div>
                   
                
                    <button type="button" class="btn btn-google btn-block" (click)="changeFilter()">Change Search</button>
                     
                  </div>
                </div>
  
               
              </div>
  
              <div class="col-lg-8 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <!-- <h6 class="m-0 font-weight-bold text-primary">{{brandName}} {{modelName}}</h6> -->
                    <h6 class="m-0 font-weight-bold text-primary">Booking Summary</h6>

                  </div>
                  <div class="card-body">
              <div class="row">
                  <div class="col-lg-4">
                      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="assets{{path}}" alt="">
                      <p><span class="seats-icon"></span>{{carCapacity}}</p>
                      <p><span class="dors-icon"></span> {{numberOfDoors}}</p>
                     
                      <p><span class="trasmision-manual-icon"></span> {{transmisionType}}</p>
                      <p>{{brandName}} {{modelName}} {{modelYear}}</p>
                    </div>
                    <div class="col-lg-8">
                 <div class="row">
                   <div class="col-lg-8">
                    <h4 class="mb-4">Booking Information</h4>
                    <h4 class="small font-weight-bold">Pickup</h4>
                    <p>{{datePickUp}}</p>

                    <h4 class="small font-weight-bold">Location</h4>
                    <p>{{pickUpLocation}}</p>

                    <h4 class="small font-weight-bold">Return</h4>
                    <p>{{dateReturn}}</p>

                    <h4 class="small font-weight-bold">Location</h4>
                    <p>{{returnLocation}}</p>
                   </div>
                   <div class="col-lg-4 text-right">
                      <div class="card border-left-success shadow py-2">
                          <div class="card-body">
                            <div class="row no-gutters align-items-center">
                              <div class="col">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Price for day</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{priceForDay}} &euro;</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                   </div>
                 </div>
                   
                    </div>
              </div>
                  </div>
                </div>


                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <!-- <h6 class="m-0 font-weight-bold text-primary">{{brandName}} {{modelName}}</h6> -->
                    <div class="row">
                      <div class="col-lg-6"><h6 class="m-0 font-weight-bold text-primary">User Details</h6></div>
                      <div class="col-lg-6 text-right"><button class="btn btn-link btn-sm" [routerLink]="['/booking-summary/']" [queryParams]="{ pb: pbId, car: carId, user: userId}">Change</button></div>
                    </div>
                    
                    
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-6"><h6><span class="small font-weight-bold">Name: </span><span>{{firstName}} {{lastName}}</span></h6></div>
                      <div class="col-lg-6"><h6><span class="small font-weight-bold">Phone Number: </span><span>{{phoneNumber}}</span></h6></div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12"><h6><span class="small font-weight-bold">Email: </span><span>{{email}}</span></h6></div>
  
                      </div>
                    <!-- <form [formGroup]="addCustomerForm" (submit)="addCustomerInfo()" class="user">
                      <div class="row">
                        <div class="col-lg-6"> <div class="form-group">
                          <label for="">First Name</label>
                            <input type="text" [ngClass]="{'is-invalid':addCustomerForm.get('firstName').errors && addCustomerForm.get('firstName').touched}"
                            formControlName="firstName"  
                            class="form-control form-control-user"  placeholder="Enter First Name...">
                            <div class="invalid-feedback">First Name is required</div>
                          </div></div>
                        <div class="col-lg-6"><div class="form-group">
                            <label for="">Last Name</label>
                            <input type="text" 
                            [ngClass]="{'is-invalid':addCustomerForm.get('lastName').errors && addCustomerForm.get('lastName').touched}"
                            formControlName="lastName" 
                            class="form-control form-control-user" placeholder="Enter Last Name...">
                            <div class="invalid-feedback">Last Name is required</div>
  
                          </div></div>

                      </div>

                      <div class="row">
                          <div class="col-lg-6"> <div class="form-group">
                          <label for="">Phone Number</label>
                              <input type="text" [ngClass]="{'is-invalid':addCustomerForm.get('phoneNumber').errors && addCustomerForm.get('phoneNumber').touched}"
                              formControlName="phoneNumber"  
                              class="form-control form-control-user"  placeholder="Enter Phone Number...">
                              <div class="invalid-feedback">Phone Number is required</div>
                            </div></div>
                          <div class="col-lg-6"><div class="form-group">
                          <label for="">Email</label>
                              <input type="text" 
                              [ngClass]="{'is-invalid':addCustomerForm.get('email').errors && addCustomerForm.get('email').touched}"
                              formControlName="email" 
                              class="form-control form-control-user" placeholder="Enter Email Address...">
                              <div class="invalid-feedback">Email is required</div>
    
                            </div></div>
  
                        </div>
                       
                          
                  <div class="row">
                    <div class="col-lg-3">
                        <button [disabled]="!addCustomerForm.valid" class="btn btn-primary btn-user" type="submit" style="width: 100%;">Next</button>
                    </div>
                  </div>
                          
           
                  </form> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-right">
                      <button (click)="confirmBooking()" class="btn btn-lg btn-info btn-icon-split">
                          
                          <span class="text">Confirm Booking</span>
                        </button>
                  </div>
                </div>
              </div>


            </div>
  
  
        </div>
  
    <app-footer></app-footer>
      <!-- End of Footer -->
  
    </div>
   </div>